.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: white;
}

html,body{
    margin: 0;
    min-height: 100vh;

    height: 100%;
}
header{

    padding: 10px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(124 255 147);
    justify-content: space-between;
}
.header div {
    flex: 1;
    text-align: center;
}
@media (max-width: 768px) {/*nie dziala*/
    header {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 230px;
        width: 100%;
    }
    header div {
    
        text-align: center;
        padding: 10px 0;
    }
}

#header1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    text-shadow: 2px 2px 0px rgb(124 255 147),   /* Czarny cień po prawej i na dole */
                 -2px -2px 0px rgb(124 255 147), /* Czarny cień po lewej i na górze */
                 -2px 2px 0px rgb(124 255 147),  /* Czarny cień po lewej i na dole */
                 2px -2px 0px rgb(124 255 147);
    
    color: #fff;
}
#header1 a{
    text-shadow: 1.3px 1.3px 0px rgb(255, 255, 255),   /* Czarny cień po prawej i na dole */
    -1.3px  1.3px 0px rgb(255, 255, 255), /* Czarny cień po lewej i na górze */
    1.3px  -1.3px  0px rgb(255, 255, 255),  /* Czarny cień po lewej i na dole */
    -1.3px  -1.3px  0px rgb(255, 255, 255);
}
#header1 img{
    width: 48px;
    height: 48px;
}
#header-mid{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.toggle{
    position: relative;
}

.toggle input{
    position: absolute;;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff{
    
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.slider{
    margin-top: 30px;
    position: relative;
    display: block;

    cursor: pointer;
    background-color: rgb(124 255 147);
    transition: 0.4s;
    width: 200px;
    height: 50px;
}

.slider:before{
    content: "";
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: #fff;
    transition: 0.4s;
    top: 5px;
    left: 5px;
}

input:checked + .slider{
    background-color: black;
    
}
input:checked + .slider:before{
    transform: translateX(90px);
}

.slider.round{
    border-radius: 60px;
}
.slider.round::before{
    border-radius: 60px;
}

.delivery-options{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: absolute;
}
#first-d-o{
    color: rgb(124 255 147);
    top: 15px;
    left: 12px;
}
#secound-d-o{
    color: black;
    top: 15px;
    right: 14px;
}



#header2{

    font-size: 28px;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;

}
#header2 #shop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 25px;

    transition: 0.5s ease;
}
#header2 #shop:hover{
    background-color: #eeeeee;
}

.logowanie{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px;

    background-color: rgb(124 255 147);
    color: black;
    font-size: 12px;
    font-family: "Kanit", sans-serif;
    font-weight: 250;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: none;
}




#section-2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 0.7em;
    

    justify-content: center;
    justify-items: center;
}
.card-restaurants{
    width: 295px;
    height: 225px;
    margin: 25px 20px;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    text-align: left;
    border-radius: 25px;
    
}
.card-restaurants img{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
}
.zdj-backgr{
    width: 100%;
    height: auto;
}

.card-restaurants h1{
    margin:10px 0;
}
.restaurants-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
}
.restaurants-info2{
    height: 20px;
    font-size: 10px;
    margin-left: 20px;
}
.restaurants-info2 h1{
    margin: 0;
}
.ship {
    width: 30px;
    height: auto;
    margin-left: 10px;
    font-size: 12px;
}
.info{
    height: 20px;
    width: 100%;
    border-top: 1.5px dotted grey;
    display: flex;
    align-items: center; /* Centrowanie pionowe */

}
.icon-section2{
    width: 18px;
    height: 18px;
}
.icon-dolar{
    width: 14px;
    height: 14px;
    margin-left: -2px;
}
@media(max-width:1190px){
    .card-restaurants{
        width: 380px;
        height: 305px;
    }
    .card-restaurants .zdj-backgr{
        width: 100% !important;  /* Obraz zajmie całą szerokość kontenera */
    height: auto !important; /* Wysokość zostanie automatycznie dostosowana, aby zachować proporcje */
    display: block !important;
    }
}
@media(max-width:908px){
    .card-restaurants{
        width: 380px;
        height: 305px;
    }
    .card-restaurants .zdj-backgr{
        width: 100% !important;  /* Obraz zajmie całą szerokość kontenera */
    height: auto !important; /* Wysokość zostanie automatycznie dostosowana, aby zachować proporcje */
    display: block !important;
    }
}
@media(max-width:610px){
    .card-restaurants{
        width: 400px;
        height: 310px;
    }
    .card-restaurants .zdj-backgr{
        width: 100% !important;  /* Obraz zajmie całą szerokość kontenera */
    height: auto !important; /* Wysokość zostanie automatycznie dostosowana, aby zachować proporcje */
    display: block !important;
    }
}
@media(max-width:430px){
    .card-restaurants{
        width: 300px;
        height: 235px;
    }
    .card-restaurants .zdj-backgr{
        width: 100% !important;  /* Obraz zajmie całą szerokość kontenera */
    height: auto !important; /* Wysokość zostanie automatycznie dostosowana, aby zachować proporcje */
    display: block !important;
    }
    .icon-section2{
        width: 16px;
        height: 16px;
    }
    .ship {
        font-size: 16px; /* Przykładowa wielkość tekstu, można dostosować */
        margin-left: 10px; /* Odstęp między tekstem a obrazkiem */
    }
}

.ultra-regular {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
  }


  footer{
    width: 100%;
    height: 400px;
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: "Ultra", serif;
}
.break-footer{
    height: 50px;
}
.footer-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    
}
#footer1{
    width: 160px;
    height: 300px;
}
#footer1 img{
    margin-left: 35px;
    margin-top: 15px;
    cursor: pointer;
}
#footer2{
    width: 400px;
    height: 300px;

    display: flex;
    text-align: left;
}
.footer-container-card{
    width: 165px;
    height: 100%;
    margin-right: 30px;
}
.footer-container-card h3{
    margin: 16px 0;
}
#footer2 ul{
    font-size: 28px;
    margin-bottom: 20px;
    color: #adadad;
    text-decoration: none;
    margin: 0;

    display: inline-block;
    padding-left: 37px;
}
#footer2 li{
    position: relative;
    display: inline-block; /* Ustawienie w linii, by podkreślenie było pod tekstem */
    padding: 5px;

    color: #f7f7f7;
    
    font-size: 22px;

    list-style: none;
    cursor: pointer;
}
#footer2 li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Możesz dostosować grubość linii */
    background-color: currentColor; /* Używa koloru tekstu */
    transition: width 0.5s ease; /* Ustawienie płynnej animacji */
}

#footer2 li:hover::after {
    width: 100%; /* Podkreślenie pojawia się na całej szerokości */
}
#footer-info{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}
#footer-info1{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
}
.text-f-info1{
    font-size: 14px;
    color: white;
    margin-right: 25px;
}
.text-f-info1:hover{
    text-decoration: underline;
}
.text-f-info2{
    font-size: 14px;
    color: rgb(152, 152, 152);
    margin-right: 15px;
}
